body.theme {
  &-dark {
    .main--block__white {
      padding: 0;
      box-shadow: none;
    }

    .header, .tabs {
      background: {
        color: $wet-asphalt;
      }
      &, a {
        color: #fff;
      }
    }

    .tab--item {
      border: none;
      @include antialias;

      &__active {
        background-image: linear-gradient(lighten($background-color, 15%), $background-color);

        span, a {
          color: $wet-asphalt;
        }
      }
    }

    .tabs {
      border-bottom: 1px solid rgba(lighten($wet-asphalt, 10%), 0.3);
    }
  }
}