.button {
  //cbea37 add618 f0f342 81a54b
  //background-image: linear-gradient(#cbea37, #add618);
  //border-radius: 25px;
  //color: #1e6b00;

  // 005ECB
  // E68F00

  @include button($button-color);
  text-decoration: none;
  border-radius: $button-border-radius;
  font-size: .9rem;
  height: 32px;

  &.basic {
    @include button(lighten($silvery, 15%));
    color: $text-color;

    &:hover {
      color: $text-color;
    }
  }

  &.disabled {
    $disabled-color: #838383;
    background: {
      color: $disabled-color;
    }
    box-shadow: 0 -2px 0 darken($disabled-color, 5%) inset;
  }

  .icon {
    margin: 0;
  }
}