fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  legend {
    letter-spacing: -.5px;
    @include antialias;
    font-size: 1rem;
    font-weight: bold;
    border: {
      width: 0 0 1px 0;
      color: rgba(#838383, 0.2);
      style: solid;
    }
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}