@include sticky-footer(100px, '#wrapper', '#push', '.footer');

.footer {
  margin: 20px 0;

  p {
    font-size: .75rem;
    margin: 0;
    color: $concrete;
    @include antialias;
    line-height: 1.4;
  }
}