#main-form {
  position: relative;
}

.form-error-list-input {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $pomegranate;
  font-size: .85rem;
  font-weight: bold;
}

.form-error-list {
  border-radius: 4px;
  list-style: none;
  background: {
    color: $alizarin;
  }
  border: 1px solid $alizarin;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;

  li {
    font-size: .9rem;

    p {
      margin: 0;
      text-decoration: underline;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: .85rem;
      }
    }
  }
}

.form-ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 15px;
  }
}

.form-row {
  margin-bottom: 15px;

  &.error {
    textarea,
    select,
    [type="search"],
    [type="email"],
    [type="phone"],
    [type="number"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="text"] {
      border-color: $alizarin;
    }
  }
}

.buttons-block {
  clear: both;
  border-top: 2px dotted rgba(#838383, 0.4);
  padding: 15px 0;
}

@include b(form) {
  @include m(main) {
    textarea,
    select,
    [type="search"],
    [type="email"],
    [type="phone"],
    [type="number"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="text"] {
      width: 100%;
    }
  }
}

select {
  -moz-appearance: none;
  width: auto;
}

textarea,
select,
[type="search"],
[type="email"],
[type="phone"],
[type="number"],
[type="date"],
[type="datetime"],
[type="password"],
[type="text"] {
  @include input_base;
}

.select-holder:not(.multiple) {
  position: relative;
  display: inline;

  select {
    padding-right: 18px;
  }

  &::after {
    content: "▼";
    position: absolute;
    right: 10px;
    color: #838383;
    top: -1px;
    font-size: .8rem;
    pointer-events: none;
  }
}

.form-hint-text {
  margin: 0;
  font-size: .85rem;
  color: #838383;
}

label {
  color: #000;
  display: block;
  font-size: .85rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .required {
    color: $pomegranate;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

[type="checkbox"] ~ label, [type="radio"] ~ label {
  display: inline-block;
  margin-left: 5px;
}

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box;
}

.form-input-text {
  font-size: .9rem;
  color: #7c7c7c;
  margin: 0;
}