#logo {
  float: left;
  margin-right: 10px;

  svg {
    width: 32px;
    height: 32px;
  }
}

.header--user {
  cursor: pointer;

  svg {
    width: auto;
    height: 16px;
  }

  &:hover {
    .header--user-list {
      transform: scale(1, 1);
      opacity: 1;
      visibility: visible;
    }
  }

  .header--user-list {
    border-radius: $border-radius;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    visibility: hidden;
    transition: .15s ease;
    transform: scale(.8, .8);
    opacity: 0;
    width: 240px;
    box-shadow: 0 16px 32px rgba(#000, 0.3);
    position: absolute;
    z-index: 100;
    right: 0;
    top: auto;
    background: {
      color: #fff;
    }

    &::after {
      bottom: 100%;
      left: 90%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }

    & > li {
      font-size: .9rem;
      border-radius: $border-radius;
      padding: 5px;

      &:hover {
        background: {
          color: $clouds;
        }
      }

      .header-menu-item {
        .header-menu-icon {
          float: left;
          width: 32px;
          text-align: center;
          margin-right: 10px;
        }

        a {
          color: $text-color;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

.header {
  background: {
    color: #fafafa;
  }
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  &--main {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      .header--title {
        margin: 0;
        font-size: 1.2rem;
        color: #5c5c5c;
      }

      .header--button {
        &__menu {
          font-size: 1.4rem;
          text-decoration: none;
          @include antialias;
          color: $text-color;
          text-align: center;
          display: inline-block;
          border: {
            width: 0 1px 0 1px;
            style: solid;
            color: transparent;
          }

          &.active, &:hover {
            color: $base-color;
          }

          .icon {
            margin: 0;
          }
        }
      }
    }
  }

  &--content {
    @include clearfix;
  }

  &--buttons {
    &__right {
      text-align: right;
    }

    &__center {
      text-align: center;
    }
  }
}