.admin-index-menu {
  border-bottom: 1px solid $silvery;
  margin-bottom: 20px;

  .admin-index-module-name {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.5rem;
    @include antialias;
  }

  .admin-index-menu-item {
    @include clearfix;
    line-height: 48px;
    font-size: 1.2rem;
    @include antialias;
    border: {
      width: 3px;
      style: solid;
      color: transparent;
    }
    cursor: pointer;
    padding: 10px;

    &:hover {
      border-color: $main-color;

      .admin-index-menu-icon {
        svg {
          path, rect {
            fill: $main-color;
          }
        }
      }
    }

    a {
      text-decoration: none;
      display: block;
      color: #353535;
    }

    .admin-index-menu-icon {
      width: 48px;
      height: 48px;
      float: left;
      margin-right: 20px;

      svg {
        max-width: 48px;
        max-height: 48px;
        margin: 0 auto;
        display: block;

        path, rect {
          fill: $silvery;
        }
      }
    }
  }
}