.info-block {
  padding: 10px;

  p {
    margin: 0;
  }

  &.success {
    background: {
      color: rgba($green-sea, 0.2);
    }
    border: 1px solid rgba($green-sea, 0.3);
  }

  &.error {
    background: {
      color: rgba($pomegranate, 0.1);
    }
    border: 1px solid rgba($pomegranate, 0.2);
  }

  &.warning {
    background: {
      color: rgba($sun, 0.1);
    }
    border: 1px solid rgba($sun, 0.2);
  }

  &.info {
    background: {
      color: rgba($peter-river, 0.1);
    }
    border: 1px solid rgba($peter-river, 0.2);
  }
}