#sidebar {
  width: 220px;
  background: {
    color: #3d454d;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.15s;
  color: #fff;
  padding: 0 5px;

  .sidebar-logo {
    margin: 15px 0;
    padding: 0 22px;

    svg {
      width: 32px;
      height: auto;

      polygon {
        transition: all .2s ease;
      }

      #m {
        fill: url(#linearGradient-2);
      }

      #m-left, #m-right {
        fill: #fff;
      }
    }
  }

  .sidebar-search {
    padding: 0 22px;
    margin-bottom: 15px;

    [type="search"] {
      background: {
        color: #3d454d;
      }
      color: #fff;
      border: {
        width: 0 0 1px 0;
        style: solid;
        color: #fafafa;
      }
      border-radius: 0;
      box-shadow: none;

      &:focus, &:active {
        box-shadow: none;
      }
    }
  }

  .sidebar-wrapper {
    overflow-y: visible;
    overflow-x: hidden;
    position: absolute;
    top: 110px;
    bottom: 0;
    width: 210px;

    .sidebar-menu {
      list-style: none;
      margin: 0;
      padding: 0;

      &.quick-actions {
        background: {
          color: lighten(#3d454d, 6%);
        }
      }

      & > li {
        margin-bottom: 10px;
      }

      li {
        & > a {
          color: #fff;
        }

        & > span {
          font-size: .9rem;
          display: block;
          padding: 4px 22px;
        }

        a {
          font-size: .9rem;
          display: block;
          text-decoration: none;
          padding: 4px 22px;

          &:hover, &.active {
            background: {
              color: #383f45;
            }
          }
        }

        .sidebar-menu-child {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            a {
              color: #b9bbbe;
            }
          }
        }
      }
    }
  }
}

#main {
  margin-left: 220px;
}

.main--block__white {

}

.popup {
  background: {
    color: #fff;
  }

  .main {
    margin: 0;
    padding: 0;
  }

  .main--block__white {
    box-shadow: none;
    padding: 20px 0;
  }
}