@include b(modules) {
  $header-height: 56px !default;

  display: none;
  background: {
    color: $background-color;
  }
  padding: 20px 0;
  border-top: 1px solid rgba(#838383, 0.3);

  & > .row {
    position: relative;
    @include clearfix;

    &:after, &:before {
      bottom: 20px;
      left: 30px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(246, 245, 243, 0);
      border-bottom-color: $background-color;
      border-width: 10px;
      margin-left: -10px;
    }

    &:before {
      border-color: rgba(245, 5, 5, 0);
      border-bottom-color: rgba(#838383, 0.5);
      border-width: 11px;
      margin-left: -11px;
    }
  }

  h2 {
    font-size: 1rem;
    margin: 0;
  }

  @include e(search) {
    width: 100%;
    display: block;
  }

  @include e(list) {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 1.25rem 0 0;
      width: 33%;
      float: left;
    }
  }

  @include e(item) {
    line-height: 1.4;
    padding: 0 0 5px 0;

    a {
      color: #000;
      display: inline-block;
      text-decoration: none;
      font-size: .95rem;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #000;
      }
    }

    .icon {
      font-size: 1.1rem;
      color: #838383;
      text-decoration: none;
      margin-right: 5px;
    }

    @include m(description) {
      margin: 0;
      color: #838383;
      font-size: .9rem;
    }
  }
}
