.files-frop {
  cursor: pointer;
  border: {
    width: 2px;
    style: dashed;
    color: rgba(#838383, 0.4);
  }
  font-size: 1.1rem;
  color: #838383;
  letter-spacing: .2px;
  border-radius: $border-radius;
  text-align: center;
  @include antialias;

  &:hover {
    color: $base-color;
    background: {
      color: rgba($base-color, 0.2);
    }

    .files-upload-icon {
      .icon {
        color: $base-color;
      }
    }
  }

  .files-upload-icon {
    .icon {
      font-size: 2.4rem;
      color: #838383;
    }
  }
}

.files-content {
  margin: 20px 0;

  $padding: 20px;
  $size: 200px;

  .image-field-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding: $padding;
      margin-right: 20px;
      background: {
        color: #f1f1f1;
      }
      width: $size + ($padding * 2);
      height: $size + ($padding * 2);

      &:hover {
        background: {
          color: rgba($base-color, 0.2);
        }
      }
    }
  }

  .file-item {
    background: {
      color: #fff;
      size: cover;
    }
    width: $size;
    height: $size;
    cursor: move;
    position: relative;
    overflow: hidden;
    display: block;

    .remove {
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background: {
        color: rgba(#000, 0.4);
      }
      color: #fff;
      text-align: center;
      line-height: 24px;
      cursor: pointer;
    }
  }
}