.b-sidebar {
    width: $sidebar-width;
    height: 100%;
    background: #3d454d;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;

    &_show {
        display: block;
    }

    &_shadow {
        box-shadow: 2px 0 30px 0 rgba(0,0,0,0.7);
    }
}

.b-sidebar-buttons {
    width: 100%;
    padding: 10px;

    &__burger {
        color: #b9bbbe !important;

        &:hover {
            color: #5c5c5c !important;
        }
    }

    &__pin {
        color: #b9bbbe !important;

        &:hover {
            color: #5c5c5c !important;
        }

        &_checked {
            transform: rotate(90deg);
        }
    }
}

.b-sidebar-menu {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 20px;

    &__name {
        padding: 0 20px;
        color: #b9bbbe;

        &_link {
            &:hover {
                color: white;
            }

            .fa {
                padding-right: 10px;
            }
        }
    }

    &__child {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item-child {
        display: block;
        padding: 5px 20px 5px 48px;
        font-size: 0.9rem;
        color: #b9bbbe;

        &:hover {
            color: #b9bbbe;
            background: #383f45;
        }

        .fa {
            padding-right: 10px;
        }

        &_default-padding {
            padding: 5px 20px;
        }
    }
}