{% extends admin.findTemplate("base.html") %}

{% block breadcrumbs %}
    {% set this.breadcrumbs = breadcrumbs %}
    {% parent %}
{% endblock %}

{% block heading %}
    <h1>{{ admin.getAdminNames(model)[0] }}</h1>
{% endblock %}

{% block content %}
    {% include admin.findTemplate('panel/_buttons.html') %}

    <div class="list--container">
        {% include admin.findTemplate('panel/_actions.html') %}

        <form action="" method="post" id="main-form">
            {% csrf_token %}
            {% include admin.findTemplate('_table.html') %}
        </form>
    </div>
{% endblock %}